.cabecalho{
    background-color: #424e61;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0;
}
*{
    margin: 0px 0px;
    padding: 0px 0px;
}
.cabecalho-imagem{
    width: 20%;
}
body{
    font-family: 'Poppins', sans-serif;
}
.cabecalho-lista-iten{
    display: inline-block;
    margin: 0 16px;
   padding: 15px 0;
   font-size: 24px;
   color: aliceblue;
  
}
.escola-imagem{
    width: 25%;
}
.escola{
    background-image: linear-gradient(#424e61,#4EBFE9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.escola-div-conteudo{
    width: 35%;
}
.escola-titulo{
    padding: 24px 0;
}
.estudante-imagem{
    width: 120px;
}
.estudante-icone{
    width: 24px;
}
.estudante-div{
    text-align: center;
}
.estudante-titulo{
    text-align: center;
    padding: 50px 0;
}